{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/Sports.css')}}">
    
{% endblock %}

{% block body %}
    <table border="1">
        <tr>
            <th>Tournament ID</th>
            <th>Tournament Name</th>
            <th>Winner</th>
            <th>Total Teams Participated</th>
        </tr>
        {% for tournament in tournament_data %}
        <tr>
            <td>{{ tournament[0] }}</td>
            <td>{{ tournament[1] }}</td>
            <td>{{ tournament[2] }}</td>
            <td>{{ tournament[3] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <span>
        <form method="post" action="{{ url_for('make_change_to_tournaments') }}">
            <p>
                <h1>Select The Option To Perform</h1>
            </p>
            <input type="radio" id="insertOption" name="tournamentoption" value="insert" required>
            <label for="insertOption" value="insert">Insert a new Tournament</label>
            <br>
            <input type="radio" id="viewOption" name="tournamentoption" value="viewData">
            <label for="viewOption" value="viewData">View the Details of the Tournament</label>
            <br>
            <div id="additionalFields">
                <label for="field1" id="label1">Tournament ID:</label>
                <input type="text" id="field1" name="field1">
                <br><br>
                <label for="field2" id="label2">Tournament Name:</label>
                <input type="text" id="field2" name="field2">
                <br><br>
                <label for="field3" id="label3">Tournament Winner:</label>
                <input type="text" id="field3" name="field3">
                <br><br>
                <label for="field4" id="label4">Total Teams:</label>
                <input type="text" id="field4" name="field4">
            </div>
            <br><br>
            <button type="submit" class="fancy-button">Submit</button>
        </form>
    </span>
    <br><br>
    <script>
        function showAdditionalFields() {
            var option = document.querySelector('input[name="tournamentoption"]:checked').value;
            var additionalFields = document.getElementById('additionalFields');

            if (option === 'insert') {
                showFields(['field1', 'field2', 'field3', 'field4'], ['label1', 'label2', 'label3', 'label4']);
            }else if (option === 'viewData') {
                showFields(['field1'], ['label1']);
            }else {
                hideAllFields();
            }
        }

        function showFields(fieldsToShow, labelsToShow) {
            var allFields = ['field1', 'field2', 'field3', 'field4'];
            var allLabels = ['label1', 'label2', 'label3', 'label4'];

            allFields.forEach(function (field) {
                var fieldElement = document.getElementById(field);
                fieldElement.style.display = fieldsToShow.includes(field) ? 'block' : 'none';

                if (fieldsToShow.includes(field)) {
                    fieldElement.setAttribute('required', '');
                } else {
                    fieldElement.removeAttribute('required');
                }
            });

            allLabels.forEach(function (label) {
                var labelElement = document.getElementById(label);
                labelElement.style.display = labelsToShow.includes(label) ? 'block' : 'none';
            });
        }

        function hideAllFields() {
            var allFields = ['field1', 'field2', 'field3', 'field4'];
            var allLabels = ['label1', 'label2', 'label3', 'label4'];

            allFields.forEach(function (field) {
                var fieldElement = document.getElementById(field);
                fieldElement.style.display = 'none';
                fieldElement.removeAttribute('required');
            });

            allLabels.forEach(function (label) {
                var labelElement = document.getElementById(label);
                labelElement.style.display = 'none';
            });
        }

        var radioButtons = document.querySelectorAll('input[name="tournamentoption"]');
        radioButtons.forEach(function (radioButton) {
            radioButton.addEventListener('change', showAdditionalFields);
        });

        hideAllFields();
        showAdditionalFields();
    </script>
{% endblock %}